<form class="ui stacked segment form" action="/dashboard/addassessment" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Date</label>
            <input placeholder="DD/MM/YY" type="date" name="date">
        </div>
        <div class="field">
            <label>Weight</label>
            <input placeholder="in kgs" type="number" name="weight" step="any">
        </div>
        <div class="field">
            <label>Chest</label>
            <input placeholder="in cm" type="number" name="chest" step="any">
        </div>
        <div class="field">
            <label>Thigh</label>
            <input placeholder="in cm" type="number" name="thigh" step="any">
        </div>
        <div class="field">
            <label>Upper Arm</label>
            <input placeholder="in cm" type="number" name="upperArm" step="any">
        </div>
        <div class="field">
            <label>Waist</label>
            <input placeholder="in cm" type="number" name="waist" step="any">
        </div>
        <div class="field">
            <label>Hips</label>
            <input placeholder="in cm" type="number" name="hips" step="any">
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>