
<div class="ui relaxed divided list">
    {{#each allUsers}}
    <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
            <div class="header">
                <a href="/trainerdashboard/{{id}}">
                {{firstName}} {{lastName}} </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>