{{> menu id="dashboard"}}

<section class="ui segment">
    {{> mainpanel}}

</section>

<section class="ui segment">
    {{> analytics}}
</section>

<section class="ui segment">
    {{> trainerUserAssessments}}
</section>

